{{#each Items}}
<!--
/===============================================================\
| razor grid (experimental) - rev 4.2.1                         |
|---------------------------------------------------------------|
|  Template: razor.grid.html (experimental version)             |
|   Website: http://www.pigford.net/razor                       |
\===============================================================/
-->
{{!===============================================================}}
{{! Release: razor grid html (experimental)                       }}
{{!===============================================================}}
{{! Update: 09/21/2016 - Initial version                          }}
{{!===============================================================}}
{{!                                                               }}
{{!===============================================================}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{Alias}}_Grid</title>
.
    <link href="../Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="../Kendo/kendo.office365.min.css" rel="stylesheet" />    
    <script src="../Javascript_lib/jquery.min.js"></script>
    <script src="../Kendo/kendo.web.min.js"></script>
    <script src="{{Alias}}_grid.js"></script>
.
    <style>
        body {
            font-size: 9pt;
        }
    </style>
</head>
    <body>
        <div id="{{Alias}}_grid"></div>
    </body>
</html>
{{xFile Alias path=xSettings.OutputPath suffix="_grid" ext="html"}}
{{/each}}
.
.
.
{{#each Items}}
/*
/===============================================================\
| razor grid (experimental) - rev 4.2.1                         |
|---------------------------------------------------------------|
|  Template: razor.grid (experimental version)                  |
|   Website: http://www.pigford.net/razor                       |
\===============================================================/
*/
{{!===============================================================}}
{{! Release: razor grid js (experimental)                         }}
{{!===============================================================}}
{{! Update: 09/21/2016 - Initial version                          }}
{{!===============================================================}}
{{!                                                               }}
{{!===============================================================}}
$(document).ready(function () {
    //Load Grid Data on Page Load
    fillGridData();
});
.
//AJAX FUNCTIONS
function fillGridData() {
    var zData = "";
    try {
        $.ajax({
            url: "../REST/RestService.svc/GetGridData_{{Alias}}",
            data: zData,
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (pResults) { fillGridDataSuccess(pResults); },
            error: function (pResults, pMessage, pErrorDetail) { fillGridDataError(pResults, pMessage, pErrorDetail); }
        });
    } catch (pErrorMessage) {
        alert("Error: " + pErrorMessage);
    }
}
.
// FUNCTION THAT IS SUCCESSFUL
function fillGridDataSuccess(pResults) {
    if (pResults.isSuccess == false) {
        alert(pResults.errorMessage);
    }
    else {
        var rowObj = {};
        var myDataSource = [];
        var columnNames = [];
        var columnObj = {};
        var columnArray = [];
.
        if (pResults.data.grid.length > 0) {
            for (var colName in pResults.data.grid[0]) {
                columnNames.push(colName);
            }
            columnNames.sort();
.
            for (var Ndx = 0; Ndx < columnNames.length; Ndx++) {
                columnObj['field'] = columnNames[Ndx];
                columnArray.push(columnObj);
                columnObj = {};
            }
.
            for (var Ndx = 0; Ndx < pResults.data.grid.length; Ndx++) {
                for (var count = 0; count < columnArray.length; count++) {
                    rowObj[columnNames[count]] = pResults.data.grid[Ndx][columnNames[count]]
                }
                myDataSource.push(rowObj)
                rowObj = {};
            }
.
            $('#grid').kendoGrid({
                columns: columnArray,
                dataSource: myDataSource,
                pageable: { pageSize: 15 }
            });
        }
    }
}
.
.
// FUNCTION THAT IS ERROR
function fillGridDataError(pResults, pMessage, pErrorDetail) {
    alert("Fill Grid Error: " + pMessage + " - " + pErrorDetail);
}
{{xFile Alias path=xSettings.OutputPath suffix="_grid" ext="js"}}
{{/each}}