{{#each Items}}
/*
/===============================================================\
| razor grid (experimental) - rev 4.2.2                         |
|---------------------------------------------------------------|
|  Template: razor.grid (experimental version)                  |
|   Website: http://www.pigford.net/razor                       |
\===============================================================/
*/
{{!===============================================================}}
{{! Release: razor grid js (experimental)                         }}
{{!===============================================================}}
{{! Update: 11/30/2016 - Initial version                          }}
{{! Update: 12/06/2016 - Renamed config setting from WCF to REST  }}
{{!===============================================================}}
{{!                                                               }}
{{!===============================================================}}
$(document).ready(function () {
    $("#{{Alias}}_combobox").kendoComboBox({     
        dataTextField: "DISPLAYCOLUMNNAMEGOESHERE",  
        dataValueField: "IDCOLUMNNAMEGOESHEREMUSTBENUMERIC",       
        filter: "contains",
        autoBind: false,
        minLength: 1,
        dataSource: {
            transport: {
                read: {
                    url: "../REST/{{xSettings.RestServiceClassName}}.svc/{{Alias}}_ComboBoxServer_GetData",      
                    dataType: "json",
                    type: "POST",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    complete: function (pEvent, pStatus) {
                        if (JSON.parse(pEvent.responseText).isSuccess == true) {
                            //Code runs after the data pull and if it was successful
                        }
                        else {
                            alert("Error: " + JSON.parse(pEvent.responseText).message)
                        }
                    }
                },
                create: {
                    cache: false
                },
                parameterMap: function (pData, pType) {
                    if (pType === "read") {
                        // STRINGIFY THE FILTER OBJECT
                        if (pData["filter"]) {
                            pData["filter"] = JSON.stringify(pData["filter"]);
                        }
                    }
                    return kendo.stringify(pData);
                }
            }
                , serverFiltering: true
                , schema: {
                    data: function (response) {
                        if (response.isSuccess == true) {
                            return response.data; 
                        }
                    },
                    total: function (response) {
                        if (response.isSuccess == true) {
                            return response.rowCount; // total is returned in the "rowCount" field of the response
                        }
                    },
                    errors: function (response) {
                        if (response.isSuccess != true) {
                            return response.message; // response is { "error": errorMessage }
                        }
                    }
                }
                , error: function (e) {
                    if (e.message != undefined) {
                        alert("Error: " + e.message);
                    }
                    else {
                        alert("Error: " + e.errorThrown);
                    }
                }
            }
    });
});
.
.
.
{{xFile Alias path=xSettings.OutputPath suffix="_combobox" ext="js"}}
{{/each}}
.
.
{{#each Items}}
<!--
/===============================================================\
| razor grid (experimental) - rev 4.2.1                         |
|---------------------------------------------------------------|
|  Template: razor.grid.html (experimental version)             |
|   Website: http://www.pigford.net/razor                       |
\===============================================================/
-->
{{!===============================================================}}
{{! Release: razor grid html (experimental)                       }}
{{!===============================================================}}
{{! Update: 11/30/2016 - Initial version                          }}
{{!===============================================================}}
{{!                                                               }}
{{!===============================================================}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{Alias}}_combobox</title>
.
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.rtl.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.silver.min.css"/>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.mobile.all.min.css"/>
.
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
    <script src="{{Alias}}_combobox.js"></script>
</head>
    <body>
        <div id="{{Alias}}_combobox" style="width: 500px;"></div>     
    </body>
</html>
{{xFile Alias path=xSettings.OutputPath suffix="_combobox" ext="html"}}
{{/each}}